
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit Book</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
      h1{
        text-align: center;
      }
      form{
          width: 450px;
          margin-left: auto;
          margin-right: auto;
      }
    </style>
</head>
<body>
  <h1>EDIT BOOK</h1>
    <form action="/book/update" method="POST">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name='id' value="<%- book._id %>">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name='txtName' value="<%- book.name %>">
        </div>
        <div class="form-group">
            <label>Author</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name='txtAuthor' value="<%- book.author %>">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name='txtPrice' value="<%- book.price %>">
        </div>
        <div class="form-group">
            <label>Publishing Company</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name='txtPubCompany' value="<%- book.pubCompany %>">
        </div>
        <div class="form-group">
            <label>Date Public</label>
            <input type="date" class="form-control" id="exampleInputEmail1" name='txtDatePublic' value="<%- book.datePublic %>"> 
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="txtDescrip"><%- book.description %></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</body>
</html>




